*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:
}

.\!container {
  width: 100% !important
}

.container {
  width: 100%
}

@media (min-width: 600px) {
  .\!container {
    max-width: 600px !important
  }

  .container {
    max-width: 600px
  }
}

@media (min-width: 900px) {
  .\!container {
    max-width: 900px !important
  }

  .container {
    max-width: 900px
  }
}

@media (min-width: 1200px) {
  .\!container {
    max-width: 1200px !important
  }

  .container {
    max-width: 1200px
  }
}

@media (min-width: 1536px) {
  .\!container {
    max-width: 1536px !important
  }

  .container {
    max-width: 1536px
  }
}

@media (min-width: 1920px) {
  .\!container {
    max-width: 1920px !important
  }

  .container {
    max-width: 1920px
  }
}

.icon-\[mdi--cash\] {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M3 6h18v12H3zm9 3a3 3 0 0 1 3 3a3 3 0 0 1-3 3a3 3 0 0 1-3-3a3 3 0 0 1 3-3M7 8a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2v-4a2 2 0 0 1-2-2z'/%3E%3C/svg%3E")
}

.icon-\[mdi--invoice-text-clock-outline\] {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M17 9H7V7h10zm-2 4v3.69l3.19 1.84l.75-1.3l-2.44-1.41V13zm-6 9l1.87-1.24A6.95 6.95 0 0 0 16 23c3.87 0 7-3.13 7-7c0-1.91-.76-3.64-2-4.9V3H3v19l3-2zm0-2.4l-3-2l-1 .66V5h14v4.67c-.91-.43-1.93-.67-3-.67c-1.91 0-3.64.76-4.9 2H7v2h2.67c-.43.91-.67 1.93-.67 3c0 1.12.26 2.17.73 3.11zm7 1.4c-2.76 0-5-2.24-5-5s2.24-5 5-5s5 2.24 5 5s-2.24 5-5 5'/%3E%3C/svg%3E")
}

.icon-\[mdi--invoice-text-edit-outline\] {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M9.86 21.43L9 22l-3-2l-3 2V3h18v7.2c-.63-.27-1.36-.27-2 .02V5H5v13.26l1-.66l3 2l.86-.6zm2-1.47L18 13.83l2.03 2.04L13.9 22h-2.04zm9.85-5.77l-.98.98l-2.04-2.04l.98-.98l.01-.01l.01-.01c.17-.16.43-.17.62-.04c.03.01.06.04.08.06l1.32 1.32c.2.2.2.53 0 .72M17 9V7H7v2zm-2 4v-2H7v2z'/%3E%3C/svg%3E")
}

.icon-\[mdi--invoice-text-outline\] {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M17 7v2H7V7zm-2 4v2H7v-2zm3 9l3 2V3H3v19l3-2l3 2l3-2l3 2zm1-15v13.26l-1-.66l-3 2l-3-2l-3 2l-3-2l-1 .66V5z'/%3E%3C/svg%3E")
}

.icon-\[mdi--invoice-text-remove-outline\] {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='m12 20l1.3.86c-.2-.58-.3-1.21-.3-1.86c0-.24 0-.5.04-.71L12 17.6l-3 2l-3-2l-1 .66V5h14v8c.7 0 1.37.12 2 .34V3H3v19l3-2l3 2zm5-11V7H7v2zm-2 4v-2H7v2zm4 4.6l-2.1-2.1l-1.4 1.4l2.1 2.1l-2.1 2.1l1.4 1.4l2.1-2.1l2.1 2.1l1.4-1.4l-2.1-2.1l2.1-2.1l-1.4-1.4z'/%3E%3C/svg%3E")
}

.icon-\[mdi--keyboard-arrow-up\] {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6l-6 6z'/%3E%3C/svg%3E")
}

.icon-\[mdi--package-variant-minus\] {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M13 15.6c.3.2.7.2 1 0l5-2.9v.3c.7 0 1.4.1 2 .4v-1.8l1-.6c.5-.3.6-.9.4-1.4l-1.5-2.5c-.1-.2-.2-.4-.4-.5l-7.9-4.4c-.2-.1-.4-.2-.6-.2s-.4.1-.6.2L3.6 6.6c-.2.1-.4.2-.5.4L1.6 9.6c-.3.5-.1 1.1.4 1.4c.3.2.7.2 1 0v5.5c0 .4.2.7.5.9l7.9 4.4c.2.1.4.2.6.2s.4-.1.6-.2l.9-.5c-.3-.6-.4-1.3-.5-2m-2 0l-6-3.4V9.2l6 3.4zm9.1-9.6l-6.3 3.6l-.6-1l6.3-3.6zM12 10.8V4.2l6 3.3zM23 20h-8v-2h8z'/%3E%3C/svg%3E")
}

.icon-\[mdi--package-variant-remove\] {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M13 15.6c.3.2.7.2 1 0l5-2.9v.3c.7 0 1.4.1 2 .4v-1.8l1-.6c.5-.3.6-.9.4-1.4l-1.5-2.5c-.1-.2-.2-.4-.4-.5l-7.9-4.4c-.2-.1-.4-.2-.6-.2s-.4.1-.6.2L3.6 6.6c-.2.1-.4.2-.5.4L1.6 9.6c-.3.5-.1 1.1.4 1.4c.3.2.7.2 1 0v5.5c0 .4.2.7.5.9l7.9 4.4c.2.1.4.2.6.2s.4-.1.6-.2l.9-.5c-.3-.6-.4-1.3-.5-2m-2 0l-6-3.4V9.2l6 3.4zm9.1-9.6l-6.3 3.6l-.6-1l6.3-3.6zM12 10.8V4.2l6 3.3zm10.5 6.1L20.4 19l2.1 2.1l-1.4 1.4l-2.1-2.1l-2.1 2.1l-1.4-1.4l2.1-2.1l-2.1-2.1l1.4-1.4l2.1 2.1l2.1-2.1z'/%3E%3C/svg%3E")
}

.icon-\[mdi--package-variant\] {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M2 10.96a.985.985 0 0 1-.37-1.37L3.13 7c.11-.2.28-.34.47-.42l7.83-4.4c.16-.12.36-.18.57-.18s.41.06.57.18l7.9 4.44c.19.1.35.26.44.46l1.45 2.52c.28.48.11 1.09-.36 1.36l-1 .58v4.96c0 .38-.21.71-.53.88l-7.9 4.44c-.16.12-.36.18-.57.18s-.41-.06-.57-.18l-7.9-4.44A.99.99 0 0 1 3 16.5v-5.54c-.3.17-.68.18-1 0m10-6.81v6.7l5.96-3.35zM5 15.91l6 3.38v-6.71L5 9.21zm14 0v-3.22l-5 2.9c-.33.18-.7.17-1 .01v3.69zm-5.15-2.55l6.28-3.63l-.58-1.01l-6.28 3.63z'/%3E%3C/svg%3E")
}

#__next .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0
}

#__next .\!visible {
  visibility: visible !important
}

#__next .visible {
  visibility: visible
}

#__next .invisible {
  visibility: hidden
}

#__next .\!collapse {
  visibility: collapse !important
}

#__next .collapse {
  visibility: collapse
}

#__next .static {
  position: static
}

#__next .fixed {
  position: fixed
}

#__next .absolute {
  position: absolute
}

#__next .relative {
  position: relative
}

#__next .sticky {
  position: sticky
}

#__next .inset-0 {
  inset: 0px
}

#__next .bottom-0 {
  bottom: 0px
}

#__next .end-0 {
  inset-inline-end: 0px
}

#__next .end-1 {
  inset-inline-end: 0.25rem
}

#__next .left-1 {
  left: 0.25rem
}

#__next .left-1\/2 {
  left: 50%
}

#__next .right-1 {
  right: 0.25rem
}

#__next .right-full {
  right: 100%
}

#__next .start-0 {
  inset-inline-start: 0px
}

#__next .top-0 {
  top: 0px
}

#__next .isolate {
  isolation: isolate
}

#__next .z-\[1\] {
  z-index: 1
}

#__next .z-\[calc\(var\(--search-z-index\)\+1\)\] {
  z-index: calc(var(--search-z-index) + 1)
}

#__next .z-search {
  z-index: var(--search-z-index)
}

#__next .order-1 {
  order: 1
}

#__next .order-2 {
  order: 2
}

#__next .order-3 {
  order: 3
}

#__next .order-4 {
  order: 4
}

#__next .order-5 {
  order: 5
}

#__next .order-first {
  order: -9999
}

#__next .order-last {
  order: 9999
}

#__next .col-auto {
  grid-column: auto
}

#__next .float-start {
  float: inline-start
}

#__next .float-end {
  float: inline-end
}

#__next .float-none {
  float: none
}

#__next .m-0 {
  margin: 0px
}

#__next .m-1 {
  margin: 0.25rem
}

#__next .m-2 {
  margin: 0.5rem
}

#__next .m-3 {
  margin: 0.75rem
}

#__next .m-4 {
  margin: 1rem
}

#__next .m-5 {
  margin: 1.25rem
}

#__next .m-auto {
  margin: auto
}

#__next .mx-0 {
  margin-left: 0px;
  margin-right: 0px
}

#__next .mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem
}

#__next .mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem
}

#__next .mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem
}

#__next .mx-4 {
  margin-left: 1rem;
  margin-right: 1rem
}

#__next .mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem
}

#__next .mx-auto {
  margin-left: auto;
  margin-right: auto
}

#__next .my-0 {
  margin-top: 0px;
  margin-bottom: 0px
}

#__next .my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem
}

#__next .my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

#__next .my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem
}

#__next .my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem
}

#__next .my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem
}

#__next .my-auto {
  margin-top: auto;
  margin-bottom: auto
}

#__next .mb-0 {
  margin-bottom: 0px
}

#__next .mb-1 {
  margin-bottom: 0.25rem
}

#__next .mb-2 {
  margin-bottom: 0.5rem
}

#__next .mb-3 {
  margin-bottom: 0.75rem
}

#__next .mb-4 {
  margin-bottom: 1rem
}

#__next .mb-5 {
  margin-bottom: 1.25rem
}

#__next .mb-auto {
  margin-bottom: auto
}

#__next .me-0 {
  margin-inline-end: 0px
}

#__next .me-1 {
  margin-inline-end: 0.25rem
}

#__next .me-2 {
  margin-inline-end: 0.5rem
}

#__next .me-3 {
  margin-inline-end: 0.75rem
}

#__next .me-4 {
  margin-inline-end: 1rem
}

#__next .me-5 {
  margin-inline-end: 1.25rem
}

#__next .me-auto {
  margin-inline-end: auto
}

#__next .ml-1 {
  margin-left: 0.25rem
}

#__next .ml-2 {
  margin-left: 0.5rem
}

#__next .mr-2 {
  margin-right: 0.5rem
}

#__next .ms-0 {
  margin-inline-start: 0px
}

#__next .ms-1 {
  margin-inline-start: 0.25rem
}

#__next .ms-2 {
  margin-inline-start: 0.5rem
}

#__next .ms-3 {
  margin-inline-start: 0.75rem
}

#__next .ms-4 {
  margin-inline-start: 1rem
}

#__next .ms-5 {
  margin-inline-start: 1.25rem
}

#__next .ms-auto {
  margin-inline-start: auto
}

#__next .mt-0 {
  margin-top: 0px
}

#__next .mt-1 {
  margin-top: 0.25rem
}

#__next .mt-2 {
  margin-top: 0.5rem
}

#__next .mt-3 {
  margin-top: 0.75rem
}

#__next .mt-4 {
  margin-top: 1rem
}

#__next .mt-5 {
  margin-top: 1.25rem
}

#__next .mt-6 {
  margin-top: 1.5rem
}

#__next .mt-auto {
  margin-top: auto
}

#__next .block {
  display: block
}

#__next .inline-block {
  display: inline-block
}

#__next .inline {
  display: inline
}

#__next .flex {
  display: flex
}

#__next .inline-flex {
  display: inline-flex
}

#__next .table {
  display: table
}

#__next .inline-table {
  display: inline-table
}

#__next .table-caption {
  display: table-caption
}

#__next .table-cell {
  display: table-cell
}

#__next .table-column {
  display: table-column
}

#__next .table-column-group {
  display: table-column-group
}

#__next .table-footer-group {
  display: table-footer-group
}

#__next .table-header-group {
  display: table-header-group
}

#__next .table-row-group {
  display: table-row-group
}

#__next .table-row {
  display: table-row
}

#__next .flow-root {
  display: flow-root
}

#__next .\!grid {
  display: grid !important
}

#__next .grid {
  display: grid
}

#__next .inline-grid {
  display: inline-grid
}

#__next .contents {
  display: contents
}

#__next .list-item {
  display: list-item
}

#__next .\!hidden {
  display: none !important
}

#__next .hidden {
  display: none
}

#__next .size-2 {
  width: 0.5rem;
  height: 0.5rem
}

#__next .size-5 {
  width: 1.25rem;
  height: 1.25rem
}

#__next .size-7 {
  width: 1.75rem;
  height: 1.75rem
}

#__next .h-1 {
  height: 0.25rem
}

#__next .h-2 {
  height: 0.5rem
}

#__next .h-\[39px\] {
  height: 39px
}

#__next .h-\[45px\] {
  height: 45px
}

#__next .h-auto {
  height: auto
}

#__next .h-full {
  height: 100%
}

#__next .min-h-\[0\] {
  min-height: 0
}

#__next .min-h-\[400px\] {
  min-height: 400px
}

#__next .w-40 {
  width: 10rem
}

#__next .w-\[24\%\] {
  width: 24%
}

#__next .w-\[250px\] {
  width: 250px
}

#__next .w-auto {
  width: auto
}

#__next .w-full {
  width: 100%
}

#__next .flex-1 {
  flex: 1 1 0%
}

#__next .flex-auto {
  flex: 1 1 auto
}

#__next .flex-shrink {
  flex-shrink: 1
}

#__next .flex-shrink-0 {
  flex-shrink: 0
}

#__next .shrink {
  flex-shrink: 1
}

#__next .flex-grow {
  flex-grow: 1
}

#__next .flex-grow-0 {
  flex-grow: 0
}

#__next .grow {
  flex-grow: 1
}

#__next .basis-full {
  flex-basis: 100%
}

#__next .caption-top {
  caption-side: top
}

#__next .border-collapse {
  border-collapse: collapse
}

#__next .translate-x-\[35\%\] {
  --tw-translate-x: 35%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

#__next .translate-x-\[50\%\] {
  --tw-translate-x: 50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

#__next .rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

#__next .rotate-90 {
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

#__next .transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

#__next .cursor-pointer {
  cursor: pointer
}

#__next .select-none {
  -webkit-user-select: none;
          user-select: none
}

#__next .resize {
  resize: both
}

#__next .grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr))
}

#__next .flex-row {
  flex-direction: row
}

#__next .flex-row-reverse {
  flex-direction: row-reverse
}

#__next .flex-col {
  flex-direction: column
}

#__next .flex-wrap {
  flex-wrap: wrap
}

#__next .flex-wrap-reverse {
  flex-wrap: wrap-reverse
}

#__next .flex-nowrap {
  flex-wrap: nowrap
}

#__next .\!items-start {
  align-items: flex-start !important
}

#__next .items-start {
  align-items: flex-start
}

#__next .items-end {
  align-items: flex-end
}

#__next .\!items-center {
  align-items: center !important
}

#__next .items-center {
  align-items: center
}

#__next .justify-start {
  justify-content: flex-start
}

#__next .justify-end {
  justify-content: flex-end
}

#__next .justify-center {
  justify-content: center
}

#__next .justify-between {
  justify-content: space-between
}

#__next .gap-0 {
  gap: 0px
}

#__next .gap-0\.5 {
  gap: 0.125rem
}

#__next .gap-1 {
  gap: 0.25rem
}

#__next .gap-1\.5 {
  gap: 0.375rem
}

#__next .gap-2 {
  gap: 0.5rem
}

#__next .gap-2\.5 {
  gap: 0.625rem
}

#__next .gap-3 {
  gap: 0.75rem
}

#__next .gap-4 {
  gap: 1rem
}

#__next .gap-5 {
  gap: 1.25rem
}

#__next .gap-6 {
  gap: 1.5rem
}

#__next .gap-\[7px\] {
  gap: 7px
}

#__next .gap-x-2 {
  column-gap: 0.5rem
}

#__next .gap-x-3 {
  column-gap: 0.75rem
}

#__next .gap-x-4 {
  column-gap: 1rem
}

#__next .gap-x-\[48px\] {
  column-gap: 48px
}

#__next .gap-y-0\.5 {
  row-gap: 0.125rem
}

#__next .gap-y-1 {
  row-gap: 0.25rem
}

#__next .gap-y-2 {
  row-gap: 0.5rem
}

#__next .gap-y-6 {
  row-gap: 1.5rem
}

#__next .gap-y-8 {
  row-gap: 2rem
}

#__next .self-start {
  align-self: flex-start
}

#__next .self-end {
  align-self: flex-end
}

#__next .self-center {
  align-self: center
}

#__next .overflow-auto {
  overflow: auto
}

#__next .overflow-hidden {
  overflow: hidden
}

#__next .overflow-visible {
  overflow: visible
}

#__next .overflow-scroll {
  overflow: scroll
}

#__next .overflow-x-auto {
  overflow-x: auto
}

#__next .overflow-y-auto {
  overflow-y: auto
}

#__next .overflow-x-hidden {
  overflow-x: hidden
}

#__next .truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

#__next .whitespace-nowrap {
  white-space: nowrap
}

#__next .whitespace-break-spaces {
  white-space: break-spaces
}

#__next .text-wrap {
  text-wrap: wrap
}

#__next .text-nowrap {
  text-wrap: nowrap
}

#__next .break-all {
  word-break: break-all
}

#__next .rounded {
  border-radius: 0.375rem
}

#__next .rounded-full {
  border-radius: 9999px
}

#__next .rounded-md {
  border-radius: var(--mui-shape-customBorderRadius-md)
}

#__next .rounded-sm {
  border-radius: var(--mui-shape-customBorderRadius-sm)
}

#__next .border {
  border-width: 1px
}

#__next .border-0 {
  border-width: 0px
}

#__next .border-2 {
  border-width: 2px
}

#__next .border-4 {
  border-width: 4px
}

#__next .border-b-0 {
  border-bottom-width: 0px
}

#__next .border-b-\[1\.5px\] {
  border-bottom-width: 1.5px
}

#__next .border-dashed {
  border-style: dashed
}

#__next .border-none {
  border-style: none
}

#__next .border-info {
  border-color: var(--mui-palette-info-main)
}

#__next .border-primary {
  border-color: var(--primary-color)
}

#__next .border-secondary {
  border-color: var(--mui-palette-secondary-main)
}

#__next .border-secondaryLighter {
  border-color: var(--mui-palette-secondary-lighterOpacity)
}

#__next .border-success {
  border-color: var(--mui-palette-success-main)
}

#__next .border-warning {
  border-color: var(--mui-palette-warning-main)
}

#__next .border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1))
}

#__next .border-opacity-10 {
  --tw-border-opacity: 0.1
}

#__next .border-opacity-100 {
  --tw-border-opacity: 1
}

#__next .border-opacity-25 {
  --tw-border-opacity: 0.25
}

#__next .border-opacity-50 {
  --tw-border-opacity: 0.5
}

#__next .border-opacity-75 {
  --tw-border-opacity: 0.75
}

#__next .\!bg-transparent {
  background-color: transparent !important
}

#__next .bg-\[\#0077b5\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 119 181 / var(--tw-bg-opacity, 1))
}

#__next .bg-\[\#1da1f2\] {
  --tw-bg-opacity: 1;
  background-color: rgb(29 161 242 / var(--tw-bg-opacity, 1))
}

#__next .bg-\[\#4267b2\] {
  --tw-bg-opacity: 1;
  background-color: rgb(66 103 178 / var(--tw-bg-opacity, 1))
}

#__next .bg-\[var\(--mui-palette-primary-lightOpacity\)\] {
  background-color: var(--mui-palette-primary-lightOpacity)
}

#__next .bg-actionHover {
  background-color: var(--mui-palette-action-hover)
}

#__next .bg-actionSelected {
  background-color: var(--mui-palette-action-selected)
}

#__next .bg-backdrop {
  background-color: var(--backdrop-color)
}

#__next .bg-backgroundPaper {
  background-color: var(--mui-palette-background-paper)
}

#__next .bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1))
}

#__next .bg-info {
  background-color: var(--mui-palette-info-main)
}

#__next .bg-primary {
  background-color: var(--primary-color)
}

#__next .bg-primaryLight {
  background-color: var(--mui-palette-primary-lightOpacity)
}

#__next .bg-secondary {
  background-color: var(--mui-palette-secondary-main)
}

#__next .bg-secondaryLighter {
  background-color: var(--mui-palette-secondary-lighterOpacity)
}

#__next .bg-success {
  background-color: var(--mui-palette-success-main)
}

#__next .bg-tableHeader {
  background-color: var(--mui-palette-customColors-tableHeaderBg)
}

#__next .bg-transparent {
  background-color: transparent
}

#__next .bg-warning {
  background-color: var(--mui-palette-warning-main)
}

#__next .bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1))
}

#__next .bg-opacity-10 {
  --tw-bg-opacity: 0.1
}

#__next .bg-opacity-100 {
  --tw-bg-opacity: 1
}

#__next .bg-opacity-25 {
  --tw-bg-opacity: 0.25
}

#__next .bg-opacity-50 {
  --tw-bg-opacity: 0.5
}

#__next .bg-opacity-75 {
  --tw-bg-opacity: 0.75
}

#__next .\!p-0 {
  padding: 0px !important
}

#__next .p-0 {
  padding: 0px
}

#__next .p-1 {
  padding: 0.25rem
}

#__next .p-10 {
  padding: 2.5rem
}

#__next .p-2 {
  padding: 0.5rem
}

#__next .p-3 {
  padding: 0.75rem
}

#__next .p-4 {
  padding: 1rem
}

#__next .p-5 {
  padding: 1.25rem
}

#__next .p-6 {
  padding: 1.5rem
}

#__next .px-0 {
  padding-left: 0px;
  padding-right: 0px
}

#__next .px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem
}

#__next .px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

#__next .px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

#__next .px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

#__next .px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

#__next .py-0 {
  padding-top: 0px;
  padding-bottom: 0px
}

#__next .py-0\.5 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem
}

#__next .py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

#__next .py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

#__next .py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

#__next .py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

#__next .py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem
}

#__next .pb-0 {
  padding-bottom: 0px
}

#__next .pb-1 {
  padding-bottom: 0.25rem
}

#__next .pb-2 {
  padding-bottom: 0.5rem
}

#__next .pb-3 {
  padding-bottom: 0.75rem
}

#__next .pb-4 {
  padding-bottom: 1rem
}

#__next .pb-5 {
  padding-bottom: 1.25rem
}

#__next .pe-0 {
  padding-inline-end: 0px
}

#__next .pe-1 {
  padding-inline-end: 0.25rem
}

#__next .pe-2 {
  padding-inline-end: 0.5rem
}

#__next .pe-3 {
  padding-inline-end: 0.75rem
}

#__next .pe-4 {
  padding-inline-end: 1rem
}

#__next .pe-5 {
  padding-inline-end: 1.25rem
}

#__next .pl-2 {
  padding-left: 0.5rem
}

#__next .pl-8 {
  padding-left: 2rem
}

#__next .pl-\[10\%\] {
  padding-left: 10%
}

#__next .pr-8 {
  padding-right: 2rem
}

#__next .pr-\[10\%\] {
  padding-right: 10%
}

#__next .ps-0 {
  padding-inline-start: 0px
}

#__next .ps-1 {
  padding-inline-start: 0.25rem
}

#__next .ps-2 {
  padding-inline-start: 0.5rem
}

#__next .ps-3 {
  padding-inline-start: 0.75rem
}

#__next .ps-4 {
  padding-inline-start: 1rem
}

#__next .ps-5 {
  padding-inline-start: 1.25rem
}

#__next .pt-0 {
  padding-top: 0px
}

#__next .pt-1 {
  padding-top: 0.25rem
}

#__next .pt-2 {
  padding-top: 0.5rem
}

#__next .pt-3 {
  padding-top: 0.75rem
}

#__next .pt-4 {
  padding-top: 1rem
}

#__next .pt-5 {
  padding-top: 1.25rem
}

#__next .text-center {
  text-align: center
}

#__next .text-right {
  text-align: right
}

#__next .text-start {
  text-align: start
}

#__next .\!text-end {
  text-align: end !important
}

#__next .text-end {
  text-align: end
}

#__next .indent-1 {
  text-indent: 0.25rem
}

#__next .align-baseline {
  vertical-align: baseline
}

#__next .align-top {
  vertical-align: top
}

#__next .align-middle {
  vertical-align: middle
}

#__next .align-bottom {
  vertical-align: bottom
}

#__next .align-text-top {
  vertical-align: text-top
}

#__next .align-text-bottom {
  vertical-align: text-bottom
}

#__next .font-\[inherit\] {
  font-family: inherit
}

#__next .text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

#__next .text-\[1\.625rem\] {
  font-size: 1.625rem
}

#__next .text-\[10px\] {
  font-size: 10px
}

#__next .text-\[12px\] {
  font-size: 12px
}

#__next .text-\[13px\] {
  font-size: 13px
}

#__next .text-\[14px\] {
  font-size: 14px
}

#__next .text-\[15px\] {
  font-size: 15px
}

#__next .text-\[16px\] {
  font-size: 16px
}

#__next .text-\[22px\] {
  font-size: 22px
}

#__next .text-\[26px\] {
  font-size: 26px
}

#__next .text-\[30px\] {
  font-size: 30px
}

#__next .text-\[32px\] {
  font-size: 32px
}

#__next .text-\[64px\] {
  font-size: 64px
}

#__next .text-\[88px\] {
  font-size: 88px
}

#__next .text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

#__next .text-md {
  font-size: 1rem;
  line-height: 1.5rem
}

#__next .text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

#__next .text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

#__next .text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

#__next .font-bold {
  font-weight: 700
}

#__next .font-medium {
  font-weight: 500
}

#__next .font-semibold {
  font-weight: 600
}

#__next .uppercase {
  text-transform: uppercase
}

#__next .lowercase {
  text-transform: lowercase
}

#__next .capitalize {
  text-transform: capitalize
}

#__next .italic {
  font-style: italic
}

#__next .ordinal {
  --tw-ordinal: ordinal;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction)
}

#__next .leading-\[1\.16667\] {
  line-height: 1.16667
}

#__next .leading-\[1\.46667\] {
  line-height: 1.46667
}

#__next .leading-\[1\.4667\] {
  line-height: 1.4667
}

#__next .leading-\[1\.538462\] {
  line-height: 1.538462
}

#__next .leading-\[1\.55556\] {
  line-height: 1.55556
}

#__next .tracking-\[0\.15px\] {
  letter-spacing: 0.15px
}

#__next .tracking-\[0\.8px\] {
  letter-spacing: 0.8px
}

#__next .\!text-textPrimary {
  color: var(--mui-palette-text-primary) !important
}

#__next .text-actionActive {
  color: var(--mui-palette-action-active)
}

#__next .text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1))
}

#__next .text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity, 1))
}

#__next .text-error {
  color: var(--mui-palette-error-main)
}

#__next .text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1))
}

#__next .text-info {
  color: var(--mui-palette-info-main)
}

#__next .text-inherit {
  color: inherit
}

#__next .text-primary {
  color: var(--primary-color)
}

#__next .text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity, 1))
}

#__next .text-secondary {
  color: var(--mui-palette-secondary-main)
}

#__next .text-success {
  color: var(--mui-palette-success-main)
}

#__next .text-textDisabled {
  color: var(--mui-palette-text-disabled)
}

#__next .text-textPrimary {
  color: var(--mui-palette-text-primary)
}

#__next .text-textSecondary {
  color: var(--mui-palette-text-secondary)
}

#__next .text-warning {
  color: var(--mui-palette-warning-main)
}

#__next .text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}

#__next .text-opacity-100 {
  --tw-text-opacity: 1
}

#__next .text-opacity-25 {
  --tw-text-opacity: 0.25
}

#__next .text-opacity-50 {
  --tw-text-opacity: 0.5
}

#__next .text-opacity-75 {
  --tw-text-opacity: 0.75
}

#__next .underline {
  text-decoration-line: underline
}

#__next .overline {
  text-decoration-line: overline
}

#__next .line-through {
  text-decoration-line: line-through
}

#__next .antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

#__next .opacity-0 {
  opacity: 0
}

#__next .opacity-100 {
  opacity: 1
}

#__next .opacity-25 {
  opacity: 0.25
}

#__next .opacity-50 {
  opacity: 0.5
}

#__next .opacity-75 {
  opacity: 0.75
}

#__next .shadow {
  --tw-shadow: var(--mui-customShadows-md);
  --tw-shadow-colored: var(--mui-customShadows-md);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

#__next .shadow-lg {
  --tw-shadow: var(--mui-customShadows-lg);
  --tw-shadow-colored: var(--mui-customShadows-lg);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

#__next .shadow-none {
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

#__next .shadow-sm {
  --tw-shadow: var(--mui-customShadows-sm);
  --tw-shadow-colored: var(--mui-customShadows-sm);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

#__next .shadow-xs {
  --tw-shadow: var(--mui-customShadows-xs);
  --tw-shadow-colored: var(--mui-customShadows-xs);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

#__next .outline {
  outline-style: solid
}

#__next .outline-0 {
  outline-width: 0px
}

#__next .ring {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

#__next .blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

#__next .drop-shadow {
  --tw-drop-shadow: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

#__next .grayscale {
  --tw-grayscale: grayscale(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

#__next .invert {
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

#__next .\!filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow) !important
}

#__next .filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

#__next .backdrop-filter {
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

#__next .transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

#__next .transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

#__next .duration-200 {
  transition-duration: 200ms
}

#__next .ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1)
}

#__next .ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

#__next .ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1)
}

#__next .float-start {
  float: inline-start
}

#__next .float-end {
  float: inline-end
}

#__next .text-start {
  text-align: start
}

#__next .\!text-end {
  text-align: end !important
}

#__next .text-end {
  text-align: end
}

#__next .bs-10 {
  block-size: 2.5rem
}

#__next .bs-44 {
  block-size: 11rem
}

#__next .bs-6 {
  block-size: 1.5rem
}

#__next .bs-\[30px\] {
  block-size: 30px
}

#__next .bs-\[350px\] {
  block-size: 350px
}

#__next .bs-\[38px\] {
  block-size: 38px
}

#__next .bs-\[66px\] {
  block-size: 66px
}

#__next .bs-auto {
  block-size: auto
}

#__next .bs-full {
  block-size: 100%
}

#__next .min-bs-\[100dvh\] {
  min-block-size: 100dvh
}

#__next .min-bs-\[24px\] {
  min-block-size: 24px
}

#__next .min-bs-full {
  min-block-size: 100%
}

#__next .max-bs-\[420px\] {
  max-block-size: 420px
}

#__next .max-bs-\[458px\] {
  max-block-size: 458px
}

#__next .max-bs-\[500px\] {
  max-block-size: 500px
}

#__next .is-1\/2 {
  inline-size: 50%
}

#__next .is-10 {
  inline-size: 2.5rem
}

#__next .is-6 {
  inline-size: 1.5rem
}

#__next .is-96 {
  inline-size: 24rem
}

#__next .is-\[380px\] {
  inline-size: 380px
}

#__next .is-\[38px\] {
  inline-size: 38px
}

#__next .is-\[50px\] {
  inline-size: 50px
}

#__next .is-\[66px\] {
  inline-size: 66px
}

#__next .is-auto {
  inline-size: auto
}

#__next .is-full {
  inline-size: 100%
}

#__next .\!min-is-full {
  min-inline-size: 100% !important
}

#__next .min-is-0 {
  min-inline-size: 0px
}

#__next .min-is-\[100px\] {
  min-inline-size: 100px
}

#__next .min-is-\[160px\] {
  min-inline-size: 160px
}

#__next .min-is-\[220px\] {
  min-inline-size: 220px
}

#__next .min-is-\[225px\] {
  min-inline-size: 225px
}

#__next .min-is-\[240px\] {
  min-inline-size: 240px
}

#__next .min-is-fit {
  min-inline-size: fit-content
}

#__next .max-is-\[450px\] {
  max-inline-size: 450px
}

#__next .max-is-full {
  max-inline-size: 100%
}

#__next .mlb-1 {
  margin-block: 0.25rem
}

#__next .mlb-3 {
  margin-block: 0.75rem
}

#__next .mlb-6 {
  margin-block: 1.5rem
}

#__next .\!mbs-4 {
  margin-block-start: 1rem !important
}

#__next .mbe-1 {
  margin-block-end: 0.25rem
}

#__next .mbe-11 {
  margin-block-end: 2.75rem
}

#__next .mbe-2 {
  margin-block-end: 0.5rem
}

#__next .mbe-2\.5 {
  margin-block-end: 0.625rem
}

#__next .mbe-4 {
  margin-block-end: 1rem
}

#__next .mbe-5 {
  margin-block-end: 1.25rem
}

#__next .mbe-6 {
  margin-block-end: 1.5rem
}

#__next .mbe-8 {
  margin-block-end: 2rem
}

#__next .mbe-\[2\.8rem\] {
  margin-block-end: 2.8rem
}

#__next .mbs-0\.5 {
  margin-block-start: 0.125rem
}

#__next .mbs-1 {
  margin-block-start: 0.25rem
}

#__next .mbs-1\.5 {
  margin-block-start: 0.375rem
}

#__next .mbs-2 {
  margin-block-start: 0.5rem
}

#__next .mbs-6 {
  margin-block-start: 1.5rem
}

#__next .mbs-8 {
  margin-block-start: 2rem
}

#__next .mie-0 {
  margin-inline-end: 0px
}

#__next .mie-1 {
  margin-inline-end: 0.25rem
}

#__next .mie-1\.5 {
  margin-inline-end: 0.375rem
}

#__next .mie-3 {
  margin-inline-end: 0.75rem
}

#__next .mie-5 {
  margin-inline-end: 1.25rem
}

#__next .mis-2 {
  margin-inline-start: 0.5rem
}

#__next .plb-1 {
  padding-block: 0.25rem
}

#__next .plb-12 {
  padding-block: 3rem
}

#__next .plb-14 {
  padding-block: 3.5rem
}

#__next .plb-2 {
  padding-block: 0.5rem
}

#__next .plb-2\.5 {
  padding-block: 0.625rem
}

#__next .plb-3 {
  padding-block: 0.75rem
}

#__next .plb-6 {
  padding-block: 1.5rem
}

#__next .pli-1\.5 {
  padding-inline: 0.375rem
}

#__next .pli-10 {
  padding-inline: 2.5rem
}

#__next .pli-16 {
  padding-inline: 4rem
}

#__next .pli-4 {
  padding-inline: 1rem
}

#__next .pli-5 {
  padding-inline: 1.25rem
}

#__next .\!pbe-5 {
  padding-block-end: 1.25rem !important
}

#__next .pbe-1\.5 {
  padding-block-end: 0.375rem
}

#__next .pbe-10 {
  padding-block-end: 2.5rem
}

#__next .pbe-2 {
  padding-block-end: 0.5rem
}

#__next .pbe-6 {
  padding-block-end: 1.5rem
}

#__next .pbs-0 {
  padding-block-start: 0px
}

#__next .pbs-1 {
  padding-block-start: 0.25rem
}

#__next .pbs-10 {
  padding-block-start: 2.5rem
}

#__next .pbs-4 {
  padding-block-start: 1rem
}

#__next .pbs-6 {
  padding-block-start: 1.5rem
}

#__next .pbs-\[3\.75rem\] {
  padding-block-start: 3.75rem
}

#__next .pie-0 {
  padding-inline-end: 0px
}

#__next .pie-1 {
  padding-inline-end: 0.25rem
}

#__next .pis-0 {
  padding-inline-start: 0px
}

#__next .pis-12 {
  padding-inline-start: 3rem
}

#__next .block-end-0 {
  inset-block-end: 0px
}

#__next .block-start-4 {
  inset-block-start: 1rem
}

#__next .block-start-5 {
  inset-block-start: 1.25rem
}

#__next .block-start-\[-41px\] {
  inset-block-start: -41px
}

#__next .inline-end-0 {
  inset-inline-end: 0px
}

#__next .inline-end-1\/2 {
  inset-inline-end: 50%
}

#__next .inline-end-4 {
  inset-inline-end: 1rem
}

#__next .inline-end-5 {
  inset-inline-end: 1.25rem
}

#__next .inline-start-0 {
  inset-inline-start: 0px
}

#__next .inline-start-6 {
  inset-inline-start: 1.5rem
}

#__next .border-be {
  border-block-end-width: 1px
}

#__next .border-bs {
  border-block-start-width: 1px
}

#__next .first\:pbe-4:first-child {
  padding-block-end: 1rem
}

#__next .last\:pbs-4:last-child {
  padding-block-start: 1rem
}

#__next .odd\:border-ie:nth-child(odd) {
  border-inline-end-width: 1px
}

#__next .hover\:scale-110:hover {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

#__next .hover\:bg-actionHover:hover {
  background-color: var(--mui-palette-action-hover)
}

#__next .hover\:text-blue-800:hover {
  --tw-text-opacity: 1;
  color: rgb(30 64 175 / var(--tw-text-opacity, 1))
}

#__next .hover\:text-primary:hover {
  color: var(--primary-color)
}

#__next .hover\:underline:hover {
  text-decoration-line: underline
}

#__next .focus-visible\:text-primary:focus-visible {
  color: var(--primary-color)
}

#__next .focus-visible\:outline-0:focus-visible {
  outline-width: 0px
}

#__next .active\:scale-95:active {
  --tw-scale-x: .95;
  --tw-scale-y: .95;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

#__next :is(.group:hover .group-hover\:visible) {
  visibility: visible
}

@media not all and (min-width: 900px) {
  #__next .max-md\:hidden {
    display: none
  }
}

@media not all and (min-width: 600px) {
  #__next .max-sm\:hidden {
    display: none
  }

  #__next .max-sm\:is-full {
    inline-size: 100%
  }
}

@media (min-width: 600px) {
  #__next .sm\:block {
    display: block
  }

  #__next .sm\:flex {
    display: flex
  }

  #__next .sm\:hidden {
    display: none
  }

  #__next .sm\:basis-\[calc\(\(100\%-3rem\)\/2\)\] {
    flex-basis: calc((100% - 3rem) / 2)
  }

  #__next .sm\:flex-row {
    flex-direction: row
  }

  #__next .sm\:flex-nowrap {
    flex-wrap: nowrap
  }

  #__next .sm\:items-center {
    align-items: center
  }

  #__next .sm\:p-16 {
    padding: 4rem
  }

  #__next .sm\:text-\[40px\] {
    font-size: 40px
  }

  #__next .sm\:bs-\[88px\] {
    block-size: 88px
  }

  #__next .sm\:is-\[88px\] {
    inline-size: 88px
  }

  #__next .sm\:is-auto {
    inline-size: auto
  }

  #__next .sm\:max-is-\[400px\] {
    max-inline-size: 400px
  }

  #__next .sm\:pli-16 {
    padding-inline: 4rem
  }

  #__next .sm\:pbe-16 {
    padding-block-end: 4rem
  }

  #__next .sm\:pbe-6 {
    padding-block-end: 1.5rem
  }

  #__next .sm\:pbs-16 {
    padding-block-start: 4rem
  }

  #__next .sm\:block-start-\[33px\] {
    inset-block-start: 33px
  }

  #__next .sm\:inline-start-\[38px\] {
    inset-inline-start: 38px
  }
}

@media (min-width: 900px) {
  #__next .md\:flex-row {
    flex-direction: row
  }

  #__next .md\:p-12 {
    padding: 3rem
  }

  #__next .md\:is-\[480px\] {
    inline-size: 480px
  }

  #__next .md\:is-full {
    inline-size: 100%
  }

  #__next .md\:\!min-is-\[unset\] {
    min-inline-size: unset !important
  }

  #__next .md\:max-is-\[unset\] {
    max-inline-size: unset
  }
}

#__next .\[\&\:not\(\:last-child\)\:not\(\:first-child\)\]\:plb-4:not(:last-child):not(:first-child) {
  padding-block: 1rem
}

#__next .\[\&\:not\(\:last-child\)\]\:border-be:not(:last-child) {
  border-block-end-width: 1px
}

#__next .\[\&\:not\(\:last-of-type\)\:not\(\:nth-last-of-type\(2\)\)\]\:border-be:not(:last-of-type):not(:nth-last-of-type(2)) {
  border-block-end-width: 1px
}